@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.glassCardContainer {
  margin: 0 0 0 8vw;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: url('../../assets/images/bg1.jpg');
  background-size: cover;
  background-position: center;
  perspective: 6000px;
  // opacity: 0.2;
  animation: fadeIn 1s ease-out;
  animation-iteration-count: 1;

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }


  .portfolio-page {
    flex-direction: column;
    max-height: 23vh;
    margin: -50px 0 30px -8vw;
    background-color: rgba(0, 0, 0, 0.2);
    animation-delay: 1s;

  }

  a.flat-button {
    margin-top: 30px;
    border-radius: 20px;
  }
}

.parallax-effect-glare-scale {
  transform-style: preserve-3d;
}

.box {
  // position: relative;
  border-radius: 20px;
  transform-style: preserve-3d;
  min-width: 340px !important;
  background: rgba($color: rgb(255, 255, 255), $alpha: 0.1) !important;
  border-radius: 20px !important;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5) !important;
  padding: 25px 20px !important;
  // margin-top: 30px;
}

.box .card {
  position: relative;
  background: rgba($color: rgb(255, 255, 255), $alpha: 0.1);
  width: 300px;
  min-height: 400px;
  margin: 20px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: flex;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    filter: blur(3px);
    transition: 0.5s;
  }
}

.box:hover .card img {
  filter: none;
}

.elements {
  position: absolute;
  top: 80px;
  left: -30px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  transform: translateZ(150px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}

.elements.gh {
  display: flex;
  align-items: center;
  justify-content: center;
  left: -230px;
  transition: 0.9s;
  opacity: 0;

  .githubIcon path {
    fill: rgba(255, 255, 204, 0.7);
    opacity: 0;
    transition: 0.5s;
  }
}

.box:hover .elements.gh .githubIcon path {
  opacity: 0.7;
}

.box:hover .elements.gh {
  left: -30px;
  opacity: 1;
}

.elements.imgBox {
  top: -200px;
  left: initial;
  right: 60px;
  width: 120px;
  height: 180px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  transform: translateZ(80px);
  transition: 0.9s;
  opacity: 0;

  img {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.9s;
    transition-delay: 0.5s;
  }
}

.box:hover .elements.imgBox {
  top: -20px;
  opacity: 1;
}

.box:hover .elements.imgBox img {
  opacity: 1;
}

.elements.projectName {
  top: 335px;
  left: initial;
  right: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
  margin: 0;
  border-radius: 25px;
  color: rgba(255, 255, 204, 1);
  text-shadow: 0 0 5px #fff;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: translateZ(120px);
  transition: 0.9s;
  opacity: 0;
}

.box:hover .elements.projectName {
  top: 235px;
  opacity: 1;
}