@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.glassCardContainer {
  margin: 0 0 0 8vw;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: url('../../assets/images/bg1.jpg');
  background-size: cover;
  background-position: center;

  .portfolio-page {
    flex-direction: column;
    max-height: 23vh;
    margin: -50px 0 30px -8vw;
    background-color: rgba(0, 0, 0, 0.2);
  }

  a.flat-button {
    margin-top: 30px;
    border-radius: 20px;
  }
}

.box {
  // position: relative;
  border-radius: 20px;
  transform-style: preserve-3d;
  min-width: 340px !important;
  background: rgba($color: rgb(255, 255, 255), $alpha: 0.1) !important;
  border-radius: 20px !important;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5) !important;
  padding: 25px 20px !important;
  // margin-top: 30px;
}

.box .card {
  position: relative;
  background: rgba($color: rgb(255, 255, 255), $alpha: 0.1);
  width: 300px;
  min-height: 400px;
  margin: 20px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
}

.elements {
  position: absolute;
  top: 80px;
  left: -30px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  transform: translateZ(150px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}

.elements.bg {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    padding: 0;
    margin: 0;
    transform: scale(2) !important;
  }

}