
body {
  margin: 0;
  background: #022c43;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background: black; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
